Package: se3-logonpy
Version: #VERSION#
Section: contrib
Priority: optional
Architecture: all
Conflicts: se3-logonpl
Replaces: se3-logonpl
Depends: wine, python-mysqldb, python-ldap
Installed-Size: 1024
Maintainer: Cedric Bellegarde <cbellegarde@ac-nantes.fr>
Description: Script de connexion python
